<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet", href="../static/css/styling.css">
</head>
<body>
    <div>
        <h1>Search</h1>
        <form method="POST" action="/search">
            <label for="Search">Search:</label>
            <input type="text" id="search" name="search"><br><br>
            <label for "category">Select Category</label>
            <select id="category" name="category">
                <option value="Baby Product">Baby Product</option>
                <option value="Book">Book</option>
                <option value="CE">CE</option>
                <option value="DVD">DVD</option>
                <option value="Music">Music</option>
                <option value="Software">Software</option>
                <option value="Sports">Sports</option>
                <option value="Toy">Toy</option>
                <option value="Video">Video</option>
                <option value="Video Games">Video Games</option>
            </select>
            <input type="submit" value="Submit">
        </form>
    </div>
    
</body>
</html>
