<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select</title>
</head>
<body>
    <div>
        <h1>Select</h1>       
        <div>
            {{ html_data | safe}}
        </div>
        <form method="POST" action="/selection">
            <label for="Choice">What would you like to select?:</label>
            <input type="number" min="1" max={{max}} id="choice" name="choice"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    
</body>
</html>
